.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: 75em) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to left, #FF3366, #BA265D);
  color: black;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    display: inline-block;
    padding: 2rem 0rem;
    left: 0;
    top: -100%;
  }

  &:hover &__visible{
    background-image: linear-gradient(to left #FF3366, #BA265D);
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline-style: none ;
  }
}

